
        input[type="checkbox"] {
            display: none;
        }
        input[type="checkbox"]:checked + label::before {
            transform: scale(1) rotateZ(0deg);
        }

        .addf_container {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
        }

        .addf_section {
            margin-top: 20px;
            text-align: center;
        }

        .addf_section-title {
            font-size: 24px;
            margin-top: -8px;
            text-align: center;
        }

        .addf_header h1,
        .addf_header p {
            display: inline;
        }

        .addf_arrow {
            font-size: 32px;
            font-weight: bold;
            color: #000000;
            position: absolute;
            left: 30px;
        }
        .addf_arrow.right {
            right: 30px; 
            left: auto;
        }
    

        /* Style for the checkmark */
        .addf_arrow.right::after {
            content: "\2714"; /* Unicode character for a checkmark */
            font-family: Inter, sans-serif;
            font-size: 32px;
            font-weight: bold;
            color: #000000;
        }

        .addf_food-table table {
            width: 100%;
            border-radius: 20px; /*??? maybe change to 10???-->rounds table edges*/
            padding: 20px;
            width: 90%;
            margin: 40px auto 20px;
            position: relative;
            overflow: hidden;
            border-collapse: collapse;
        }

        .addf_food-table td {
            padding: 15px;
            width: 50%;
            text-align: center;
            background-color: #d4eafc;
            color: #075685;
            height: 40px;
        }

        .addf_food-table td:not(:last-child) {
            border-right: 1px solid #075685;
        }

        .addf_food-table tr:not(:last-child) td {
            border-bottom: 1px solid #075685;
        }

        .addf_food-table td:first-child {
            font-weight: bold;
        }

        .addf_food-table input {
            font-family: Inter, sans-serif;
            font-size: 15px;
            border: none;
            background: transparent;
            width: 100%;
            color: #075685;
            text-align: center;
        }

        input[type="checkbox"] {
            display: none;
        }
