.meal_header {
    color: #075685;
    text-align: center;
    padding: 20px;
    position: relative;
    height: 20px;
    line-height: 3;
}

.meal_header h1 {
    display: inline;
}

.meal_header {
    margin-bottom: 35px;
}

#meal_arrow {
    font-size: 32px;
    font-weight: bold;
    color: #000000;
    margin-left: auto;
}

.meal_container {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.meal_search-section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

#meal_searchbar {
    background-color: #D8EDFE;
    height: 35px;
    width: 295px;
    border-radius: 10px;
    border: transparent;
    margin-left: 8px;
    margin-right: 8px;
}

::placeholder { /* placeholder from search bar */
    color: #075685;
    opacity: 0.5;
}

.meal_add_food_div {
    width: 385px;
    display: flex; 
    justify-content: flex-end;
    
}

.meal_add_food_button {
    height: 24px;
    width: 96px;
    background-color: #FFFFFF;
    border-radius: 50px;
    border-color: #000000;
    color: #075685;
    font-family: Inter, sans-serif;
    font-size: 12px;
    margin-top: 13px;
    margin-bottom: 17px;
}

.meal_history_title {
    font-size: 24px;
    text-align: left;
    margin-left: 10px;
    color: #075685;
}

.meal_food_history {
    background-color: #D8EDFE;
    border-radius: 10px;
    width: 373px;
    height: 650px;
    overflow-y: scroll;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.meal_food_item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    color: #075685;
}

.meal_plus-sign {
    font-size: 23px;
    background-color: #fff;
    border-radius: 100%;
    padding: 1px 8px;
    color: #000;
    text-align: center;
}