.addf_container {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

.addf_section {
    color: #FFFFFF;
    text-align: center;
}

.addf_section-title {
    color: #FFFFFF;
    font-size: 24px;
    margin: 0;
    text-align: center;
}

.addf_header h1,
.addf_header p {
    color: #FFFFFF;
    padding: 0;
    height: 20px;
    line-height: 3;
    display: flex;
    margin-top: 20px;
}

.addf_arrow {
    font-size: 30px;
    color: #FFFFFF;
    vertical-align: middle; /* Aligns vertically with text */
    margin-left: 0; /* Set margin-left to 0 to align with the left edge of the page */
    position: absolute;
    left: 20px; /* Adjust the left position as needed */
}

.addf_arrow.right {
    right: 30px;
    left: auto;
}

.addf_food-table table {
    width: 100%;
    margin-top: 20px;
    border-radius: 20px;
    padding: 20px;
    width: 70%;
    margin: 40px auto 20px;
    position: relative;
    overflow: hidden;
    border-collapse: collapse;
    table-layout: fixed;
}

.addf_food-table td {
    padding: 15px;
    width: 50%;
    text-align: center;
    background-color: #FFFFFF;
    color: #075685;
    height: 40px;
}

.addf_food-table td:not(:last-child) {
    border-right: 1px solid #075685;
}

.addf_food-table tr:not(:last-child) td {
    border-bottom: 1px solid #075685;
}

.addf_food-table td:first-child {
    font-weight: bold;
}

.addf_food-table input {
    font-family: Inter, sans-serif;
    font-size: 15px;
    border: none;
    background: transparent;
    width: 100%;
    color: #075685;
    text-align: center;
}

.addf_done_div {
    width: 385px;
    display: flex;
    justify-content: flex-end;
}

.addf_done_button {
    height: 24px;
    width: 96px;
    background-color: #FFFFFF;
    border-radius: 50px;
    border-color: #000000;
    color: #075685;
    font-family: Inter, sans-serif;
    font-size: 12px;
    margin-top: 20px;
}

input[type="checkbox"] {
    display: none;
}

#keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    border-top: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    z-index: 1000;
    border-radius: 2px; /* Rounded corners for the buttons */
  
  }
  
  
  #keyboard button {
    padding: 5px 10px;
    margin: 5px;
    width: 65px; /* or any size you want */
    height: 55px;
    /* Add more styles if needed */
  }
  
  .keyboard-row {
    display: flex;
    justify-content: center;
  }
  
  .keyboard-row button {
    margin: 2px;
    padding: 5px 10px;
    background-color: #f0f0f0; /* Light grey background */
    border: 1px solid #d0d0d0; /* Slight border for definition */
    border-radius: 4px; /* Rounded corners for the buttons */
    
    /* Text styling */
    font-size: 16px; /* Example font size */
    color: #333; /* Dark grey text color */
    
    /* Shadow for 3D effect */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    
    /* Transition for a smooth effect on click */
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .keyboard-row button:active {
    /* Slightly different style when button is clicked */
    background-color: #e0e0e0; /* Darker grey background */
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); /* Smaller shadow for a "pressed" effect */
  }
  
  .keyboard-row button:hover {
    /* Style when the mouse hovers over the button */
    background-color: #e8e8e8; /* Slightly darker background on hover */
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Larger shadow on hover for more pop */
  }
  
  .space {
    flex-grow: .3;
    /* Add more styles to make the space key wider */
  }