
h1 {
  color: #FFFFFF;
  font-size: 4vw; /* scale font size with the width of the viewport */
  margin-left: 21%; /* use percentage instead of fixed margin */
  margin-bottom: 0;
  font-family: Inter, sans-serif;
}
.H_bold-name {
  font-weight: bold;
  font-size: 1.025em;
  color: #FFFFFF;
}


#H_community {
    background-color: #FFFFFF;
    max-width: 60%; /* use percentage for maximum width */
    margin: 0 auto; /* center it */
    font-size: 1.8em;
    font-family: Inter, sans-serif;
    height: auto; /* make height flexible */
    margin-bottom: 1em;
}


/* Media Query for tablets */
@media (max-width: 768px) {
  #H_community {
    max-width: 50%; /* Allow it to take more space on smaller devices */
  }
  
}

#H_words{
  padding-top: 0.125em;
  margin: 0 auto; /* center instead of using fixed margin */
  color: #075685;
  width: 23%; /* responsive width */
}
#H_basic-font{
  font-family: Inter, sans-serif;
    color: #075685;
    font-size: 22pt;
    padding-left: .6em;
    text-align: left;
}


#H_categories{
  font-family: Inter, sans-serif;
    color: #075685;
    font-size: 1.5em;
    padding-left: 1em;
    margin-left: 5em;
}

#H_steps-dv {
  
  margin: 0 auto; 
  width: 75%;
  height: 450px;
  padding: 10px; 
  background: #FFFFFF;
  border-radius: 15px;
  gap: 11.04px;
  margin-bottom: 2em;
}
#H_cals-dv {
  margin: 0 auto; 
  width: 75%;
  padding: 10px; 
  background: #FFFFFF;
  border-radius: 15px;
  gap: 11.04px;
  margin-bottom: 2em;
}
#H_stats-dv {
  margin: 0 auto; 
  width: 75%;
  padding: 10px; 
  background: #FFFFFF;
  border-radius: 15px;
  gap: 11.04px;
  margin-bottom: 5em;
  overflow: hidden; /* Add this line to prevent overflowing */
}
#H_plus {
    font-size: 4em;
    color: #075685;
    vertical-align: middle;
    padding-right: .4em;
    font-weight: bold;
}
#H_manual-target {
  width: 200px;  /* Adjust the width as desired */
  height: 30px;  /* Adjust the height as desired */
  font-size: 22px; /* Adjust font size as desired */
  border: 1px solid #075685; /* Add a border for visual emphasis */
  border-radius: 4px; /* Add rounded corners for a modern look */
  padding: 5px; /* Add some padding for comfort */
}

#H_manual-steps {
  width: 200px;  /* Adjust the width as desired */
  height: 30px;  /* Adjust the height as desired */
  font-size: 22px; /* Adjust font size as desired */
  border: 1px solid #075685; /* Add a border for visual emphasis */
  border-radius: 4px; /* Add rounded corners for a modern look */
  padding: 5px; /* Add some padding for comfort */
}
#H_confirm-steps{
  width: 70px;  /* Adjust the width as desired */
  height: 50px;  /* Adjust the height as desired */
  font-size: 22px; /* Adjust font size as desired */
}

.H_title-container,
.H_progress-bar,
#H_steps-left {
  max-width: 100%; /* Ensures these elements do not exceed their container's width */
}

#H_steps-left{
  font-family: Inter, sans-serif;
  color: #075685;
  font-size: 24pt;
  margin: 0 auto; /* Centers the element horizontally */
  display: flex; /* Use flexbox to center the text within the element */
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically (if it's in a flex container of specific height) */
  text-align: center; /* Ensures the text itself is centered */
  padding: 0; /* Remove padding if you don't need it */
  overflow: hidden; /* Prevents the content from spilling out */
  white-space: nowrap; /* Prevents the text from wrapping */
  text-overflow: ellipsis; /* Adds an ellipsis if the text is too long */
}

.H_progress-bar {
  margin: 0 auto; /* center it */
  width: 20%; /* default width relative to the parent element */
  height: 20%; /* maintain aspect ratio relative to the width */
  aspect-ratio: 1 / 1; /* This maintains a 1:1 aspect ratio */
  min-width: 250px; /* minimum width */
  min-height: 250px; /* minimum height */
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    radial-gradient(closest-side, #D8EDFE 77%, transparent 80% 100%),
    conic-gradient(rgb(0, 39, 97) 0%, white 0);  
}

/* Adjust size for wider screens */
@media (min-width: 600px) {
  .H_progress-bar {
    width: 15vw; /* use viewport width for wider screens */
    height: 15vw; /* maintain aspect ratio */
  }
}

/* Adjust size for even wider screens */
@media (min-width: 1000px) {
  .H_progress-bar {
    width: 10vw; /* use smaller viewport width for even wider screens */
    height: 10vw; /* maintain aspect ratio */
  }
}

.H_progress-bar::before {

    content: attr(data-steps) " Steps";
    white-space: pre;
    font-family: Inter, sans-serif;
    font-size: 24pt;
    color: #075685;
    
  }
  

  .H_container {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
}

.H_group {
  display: flex;
  flex-direction: column; /* Place checkbox and label vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text horizontally */
  width: 25%; /* Adjust the width as needed for spacing */
  margin: 0.5em; /* Add margin for spacing between groups */
}


.H_container .H_group {
  margin: 20pt;
  width: 45%;
}

@media (max-width: 768px) {
  h1 {
    font-size: 8vw; /* larger font size for smaller screens */
  }

  .H_group, .H_container2 .H_group {
    max-width: calc(50% - 20px); /* two items per row on smaller screens */
  }
}

/* Media Query for mobile devices */
@media (max-width: 480px) {
  .H_group, .H_container2 .H_group {
    max-width: 100%; /* one item per row on very small screens */
  }

  .H_progress-bar {
    width: 80vw; /* larger relative size on smaller screens */
    height: 80vw;
  }
}
.H_container2 {
  padding: 48px;
  display: flex;
  margin-left: 20pt;
  flex-direction: row;
  justify-content: space-between;
  width: 40%; 
}

.H_container2 .H_group {
  margin: 30pt;
  width: 30%;
}

  
  input[type="checkbox"] {
    display: none;
  }
  
  #H_label-style {
    position: relative;
    --circle-bg: white;
    
}
  

#H_label-style::before {
  content: "";
    background: transparent; /* Set the initial background to transparent */
    background-position: center;
    background-size: contain;
    width: 55px; 
    height: 55px;
    position: absolute;
    left: -35px;
    top: -20px; 

    transform: scale(1) rotateZ(180deg); /* Set scale to 1 always */
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}


#H_label-style::after {
    background: white;
    border: 2px solid  #075685;
    width: 45px;
    height: 55px; 
    position: absolute;
    border-radius: 50%;
    content: "+";
    font-size: 40px; 
    padding-left: .3em;
    padding-right: .3em;
    padding-top: .3em;
    padding-bottom: .1em;
    font-weight: bold;
    color: #075685;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--circle-bg);
}
  
  input[type="checkbox"]:checked + label::before {
    transform: scale(1) rotateZ(0deg);
  }
  
.H_category-label {
  font-family: Inter, sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: 2em;
    bottom: 0; 
    color: #075685;
}

#footer{
    background-color: white;
    width: 50em;
    height: 8em;
    border: solid black;
    
}

.H_profile-icon {
  position: relative;
  top: 35px;
  right: -679px;
  color: #000000;
  font-size: 60px;
}

.H_bar-graph {
    position: relative;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    height: 400px; /* Set the height of the bar graph container */
    display: flex;
    align-items: flex-end;
    border: 1px solid  #075685;
    justify-content: flex-start; /* Align bars from the left */
}
.H_goal-label {
  position: absolute;
  
  right: 10px; /* Adjust the right position as needed */
  top: 0;
  font-family: Inter, sans-serif;
  color: #FF5733; /* Adjust the color as needed */
  font-weight: bold;
  font-size: 25px;
}
.H_goal-line {
    position: absolute;
    width: 90%; /* Make the goal line span the full width */
    background-color: transparent; /* Make it transparent */
    height: 4px; /* Adjust the height of the line */
    top: 2%; /* Position it in the middle of the container */
    border-top: 2px dotted #FF5733; /* Create a dotted effect */
}

.H_bar {
    width: 60px; /* Adjust the width of each bar */
    background-color:rgb(0, 37, 97); /* Adjust the color as needed */
    border-radius: 5px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 50px; /* Adjust the spacing between bars */
    padding-right: 2.8em;
}

.H_bar-value {
    font-size: 22px;
    font-family: Inter, sans-serif;
    margin-top: 5px;
    padding-left: .9em;
}

.H_bar-labels {
  color: #075685;
  font-family: Inter, sans-serif;
    display: flex;
    justify-content: flex-start; /* Align labels from the left */
    margin-top: 10px; /* Adjust the vertical spacing between bars and labels */
}
.H_bar-label, .H_bar-label2 {
  white-space: nowrap; /* Prevent the text from wrapping */
  overflow: hidden; /* Hide overflow */
  text-overflow: ellipsis; /* Add an ellipsis if text is too long */
 
  
 
}

.H_bar-label {
  padding-left: 34px; /* Fixed padding */
  padding-right: 65px; /* Fixed padding */
    font-size: 24px;
    font-weight: bold;
    font-family: Inter, sans-serif;

    color: #075685;
    text-align: center;
    
}
.H_bar-label2 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 30px; /* Fixed padding */
    padding-right: 76px; /* Fixed padding */
    font-family: Inter, sans-serif;
   
    color: #075685;
    text-align: center;
    flex-wrap: nowrap; /* Prevent wrapping of child elements */
  
}

@media (max-width: 768px) {
  .H_bar-label, .H_bar-label2 {
    padding-left: 10px; /* Smaller fixed padding for small screens */
    padding-right: 10px; /* Smaller fixed padding for small screens */
    font-size: 18px; /* Smaller font size for small screens */
  }
}

.H_stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#H_date {
  font-family: Inter, sans-serif;
    color: #075685;
    font-size: 28px;
    text-align: right; 
}

.H_title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


input[type="checkbox"]:focus {
    outline: none;
}
#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  z-index: 1000;
  border-radius: 2px; /* Rounded corners for the buttons */

}


#keyboard button {
  padding: 5px 10px;
  margin: 5px;
  width: 65px; /* or any size you want */
  height: 55px;
  /* Add more styles if needed */
}

.keyboard-row {
  display: flex;
  justify-content: center;
}

.keyboard-row button {
  margin: 2px;
  padding: 5px 10px;
  background-color: #f0f0f0; /* Light grey background */
  border: 1px solid #d0d0d0; /* Slight border for definition */
  border-radius: 4px; /* Rounded corners for the buttons */
  
  /* Text styling */
  font-size: 16px; /* Example font size */
  color: #333; /* Dark grey text color */
  
  /* Shadow for 3D effect */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  
  /* Transition for a smooth effect on click */
  transition: background-color 0.3s, box-shadow 0.3s;
}

.keyboard-row button:active {
  /* Slightly different style when button is clicked */
  background-color: #e0e0e0; /* Darker grey background */
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); /* Smaller shadow for a "pressed" effect */
}

.keyboard-row button:hover {
  /* Style when the mouse hovers over the button */
  background-color: #e8e8e8; /* Slightly darker background on hover */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); /* Larger shadow on hover for more pop */
}

.space {
  flex-grow: .3;
  /* Add more styles to make the space key wider */
}