#H_outer{
    background-color: rgba(244, 240, 236, 1);
    width: 48em;
}

#H_community {
    background-color: white;
    width: 24.5em;
    margin-left: 1em;
    font-size: 1.8em;
    font-family: Inter;
    height: 1.50em;
    margin-bottom: 1em;
}

#H_words{
  padding-top: .125em;
    margin-left: 6.5em;
    position: center;
    color: #075685;
    width: 15em;
}


#H_steps-dv {
  margin: 0 auto; 
  width: 374px;
  height: 220px;
  padding: 10px; 
  background: #D8EDFE;
  border-radius: 15px;
  gap: 11.04px;
  margin-bottom: 2em;
}
#H_cals-dv {
  margin: 0 auto; 
  width: 75%;
  padding: 10px; 
  background: #D8EDFE;
  border-radius: 15px;
  gap: 11.04px;
  margin-bottom: 2em;
}
#H_stats-dv {
  margin: 0 auto; 
  width: 75%;
  padding: 10px; 
  background: #D8EDFE;
  border-radius: 15px;
  gap: 11.04px;
  margin-bottom: 2em;
}


#H_basic-font{
    font-family: Inter;
    color: #075685;
    font-size: 22pt;
    padding-left: .6em;
    text-align: left;
}


#H_categories{
    font-family: Inter;
    color: #075685;
    font-size: 1.5em;
    padding-left: 1em;
    margin-left: 5em;
}
#H_steps-left{
    font-family: Inter;
    color: #075685;
    font-size: 22pt;
    padding-left: 7em;
}

.H_progress-bar {
    margin-top: 2em;
    margin-left: 14em;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: 
      radial-gradient(closest-side, #D8EDFE 79%, transparent 80% 100%),
      conic-gradient(rgb(0, 39, 97) 75%, rgb(228, 236, 254) 0);  
  }

.H_progress-bar::before {
    content: "8530 \a Steps";
    white-space: pre;
    font-family: Inter;
    font-size: 20pt;
    color: #075685;
  }

  .H_container {
  display: flex;
  justify-content: space-between; /* Distribute items evenly */
}

.H_group {
  display: flex;
  flex-direction: column; /* Place checkbox and label vertically */
  align-items: center; /* Center items horizontally */
  text-align: center; /* Center text horizontally */
  width: 25%; /* Adjust the width as needed for spacing */
  margin: 0.5em; /* Add margin for spacing between groups */
}


.H_container .H_group {
  margin: 20pt;
  width: 45%;
}


.H_container2 {
  padding: 48px;
  display: flex;
  margin-left: 20pt;
  flex-direction: row;
  justify-content: space-between;
  width: 40%; 
}

.H_container2 .H_group {
  margin: 30pt;
  width: 30%;
}

  
  input[type="checkbox"] {
    display: none;
  }
  
  #H_label-style {
    position: relative;
    --circle-bg: white;
    
}
  

#H_label-style::before {
  content: "";
    background: transparent; /* Set the initial background to transparent */
    background-position: center;
    background-size: contain;
    width: 55px; 
    height: 55px;
    position: absolute;
    left: -35px;
    top: -20px; 

    transform: scale(1) rotateZ(180deg); /* Set scale to 1 always */
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}


#H_label-style::after {
    background: white;
    border: 2px solid  #075685;
    width: 45px;
    height: 55px; 
    position: absolute;
    border-radius: 50%;
    content: "+";
    font-size: 40px; 
    padding-left: .3em;
    padding-right: .3em;
    padding-top: .3em;
    padding-bottom: .1em;
    font-weight: bold;
    color: #075685;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--circle-bg);
}
  
  input[type="checkbox"]:checked + label::before {
    transform: scale(1) rotateZ(0deg);
  }
  
.H_category-label {
    font-family: Inter;
    text-align: center;
    font-size: 25px;
    margin-top: 2em;
    bottom: 0; 
    color: #075685;
}

#footer{
    background-color: white;
    width: 50em;
    height: 8em;
    border: solid black;
    
}

.H_profile-icon {
  position: relative;
  top: 35px;
  right: -679px;
  color: #000000;
  font-size: 60px;
}

.H_bar-graph {
    position: relative;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    height: 400px; /* Set the height of the bar graph container */
    display: flex;
    align-items: flex-end;
    border: 1px solid  #075685;
    justify-content: flex-start; /* Align bars from the left */
}
.H_goal-label {
  position: absolute;
  
  right: 10px; /* Adjust the right position as needed */
  top: 0;
  font-family: Inter;
  color: #FF5733; /* Adjust the color as needed */
  font-weight: bold;
  font-size: 25px;
}
.H_goal-line {
    position: absolute;
    width: 90%; /* Make the goal line span the full width */
    background-color: transparent; /* Make it transparent */
    height: 4px; /* Adjust the height of the line */
    top: 15%; /* Position it in the middle of the container */
    border-top: 2px dotted #FF5733; /* Create a dotted effect */
}

.H_bar {
    width: 60px; /* Adjust the width of each bar */
    background-color:rgb(0, 37, 97); /* Adjust the color as needed */
    border-radius: 5px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 10px; /* Adjust the spacing between bars */
    padding-right: 1.2em;
}

.H_bar-value {
    font-size: 22px;
    font-family: Inter;
    margin-top: 5px;
    padding-left: .5em;
}

.H_bar-labels {
  color: #075685;
  font-family: Inter;
    display: flex;
    justify-content: flex-start; /* Align labels from the left */
    margin-top: 10px; /* Adjust the vertical spacing between bars and labels */
}

.H_bar-label {
    font-size: 24px;
    font-weight: bold;
    font-family: Inter;
    padding-left: .25em;
    padding-right: 1.7em;
    color: #075685;
    text-align: center;
    width: 60px; /* Match the width of each bar */
}
.H_bar-label2 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 1.2em;
    padding-right: 1.3em;
    font-family: Inter;
   
    color: #075685;
    text-align: center;
    width: 60px; 
}

.H_stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.H_date {
    font-family: Inter;
    color: #075685;
    font-size: 28px;
    text-align: right; 
}
.H_bold-name {
    font-weight: bold;
    font-size: 1.025em;
    color: #075685;
}
.H_title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#H_plus {
    font-size: 3em;
    color: #075685;
    vertical-align: middle;
    padding-right: .4em;
    font-weight: bold;
}
input[type="checkbox"]:focus {
    outline: none;
}