h1 {
  color: #FFFFFF;
  text-align: center;
  padding: 20px;
  position: relative;
  height: 20px;
  line-height: 3;
  color: #FFFFFF;
  font-size: 22px; 
  font-family: Inter, sans-serif;
}

.mp_header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 49px;
  margin-bottom: -36px;
}
.metrics-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px -15px; 
  border-radius: 10px; 
  color: #ffffff;
  font-size: 2em;
}
.header-text-container h1 {
  display: inline;
  margin: 0;
  color: #ffffff;
}

.H_bold-name {
  font-weight: bold;
  font-size: 30px;
  color: #FFFFFF;
}

#H_words{
  padding-top: 0.125em;
  margin: 0 auto; 
  color: #075685;
  width: 23%; 
}

#H_basic-font{
  font-family: Inter, sans-serif;
    color: #075685;
    font-size: 12pt;
    padding-left: .6em;
    text-align: left;
}


#H_categories{
  font-family: Inter, sans-serif;
    color: #075685;
    font-size: 1.5em;
    padding-left: 1em;
    margin-left: 5em;
}

#H_steps-dv {
  margin: 0 auto; 
  width: 75%;
  height: 450px;
  padding: 10px; 
  background: #FFFFFF;
  border-radius: 15px;
  gap: 11.04px;
  margin-bottom: 2em;
}

@media (max-width: 414px) {
  #H_steps-dv {
    width: 83%;
    height: 200px;
    padding: 1px;
  }
}

#H_cals-dv {
  margin: 0 auto;
  width: 75%;
  padding: 1em; 
  background: #FFFFFF;
  border-radius: 15px;
  gap: 1.5%; 
  margin-bottom: 2em;
}

@media (max-width: 414px) {
  #H_cals-dv {
    width: 83%;
    padding: 1px;
  }
}

#H_stats-dv {
  margin: 0 auto; 
  width: 75%;
  padding: 10px; 
  background: #FFFFFF;
  border-radius: 15px;
  gap: 11.04px;
  margin-bottom: 5em;
  overflow: hidden; 
}

@media (max-width: 414px) {
  #H_stats-dv {
    width: 83%; 
    padding: 10px;
  }
}
#H_plus {
    font-size: 4em;
    color: #075685;
    vertical-align: middle;
    padding-right: .4em;
    font-weight: bold;
   
}
#H_add-steps{
  display: flex;
  align-items: flex-start; 
}


#H_manual-steps {
  width: 200px;  
  height: 30px;  
  font-size: 22px; 
  border: 1px solid #075685; 
  border-radius: 4px;
  padding: 5px; 
  margin-top: .4em;
}
#H_confirm-steps{
  width: 70px;  
  height: 50px;  
  font-size: 22px; 
  margin: 0; 
  padding: 0; 
}
@media (max-width: 600px) {
  #H_manual-steps {
    width: 50%;  
    height: 10%;  
    font-size: 12px; 
    border: 1px solid #075685;
    border-radius: 4px; 
    padding: 4px; 
  }
  #H_confirm-steps{
    font-size: 14px;
    width: 23%;  
    height: 23%;  
  }
}


.H_title-container, .H_progress-bar, #H_steps-left {
  max-width: 100%; 
}

#H_steps-left{
  font-family: Inter, sans-serif;
  color: #075685;
  font-size: 24pt;
  margin: 0 auto; 
  display: flex; 
  justify-content: center;
  align-items: center; 
  text-align: center; 
  padding: 0; 
  overflow: hidden; 
  white-space: nowrap; 
  text-overflow: ellipsis; 
}
@media (max-width: 600px) {
  #H_steps-left {
    padding-top:2%;
    font-size: 13.5px; 
  }
  #H_plus{
    font-size: 25px;
  }
}

.H_progress-bar {
  margin: 0 auto; 
  width: 20%; 
  height: auto; 
  aspect-ratio: 1 / 1; 
  border-radius: 50%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    radial-gradient(closest-side, #D8EDFE 77%, transparent 80% 100%),
    conic-gradient(rgb(0, 39, 97) 0%, white 0);  
}


@media (max-width: 600px) {
  .H_progress-bar {
    width: 23vw; 
  }
}

@media (min-width: 1000px) {
  .H_progress-bar {
    width: 10vw;
  }
}

.H_progress-bar::before {

    content: attr(data-steps) " Steps";
    white-space: pre;
    font-family: Inter, sans-serif;
    font-size: 24pt;
    color: #075685;
    
  }
  @media (max-width: 600px) {
    .H_progress-bar::before {
      font-size: 13.5px; 
    }
  }
  

  .H_container {
  display: flex;
  justify-content: space-between; 
}

.H_group {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}


.H_container .H_group {
  margin: 20pt;
  width: 45%;
}

.H_container2{
  margin: 30pt;
  width: 30%;
}

@media (max-width: 600px) {
  .H_container .H_group  {
    width: 10%;
  }
}
  
  input[type="checkbox"] {
    display: none;
  }
  
#H_circle-style {
    position: relative;
    --circle-bg: white;
    
}

#H_circle-style::before {
    content: "";
    background: transparent; 
    background-position: center;
    background-size: contain;
    width: 55px; 
    height: 55px;
    position: absolute;
    left: -35px;
    top: -20px; 

    transform: scale(1) rotateZ(180deg); 
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}

#H_circle-style::after {
    background: white;
    border: 2px solid  #075685;
    width: 45px;
    height: 55px; 
    position: absolute;
    border-radius: 50%;
    content: "+";
    font-size: 40px; 
    padding-left: .3em;
    padding-right: .3em;
    padding-top: .3em;
    padding-bottom: .1em;
    font-weight: bold;
    color: #075685;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--circle-bg);
}
  
@media (max-width: 600px) {
    #H_circle-style::before,
    #H_circle-style::after {
        width: 7.3vw; 
        height: 7.5vw; 
        padding-top: .5em;
    }

    #H_circle-style::after {
        font-size: 5vw; 
    }
}


@media (max-width: 400px) {
    #H_circle-style::before,
    #H_circle-style::after {
        width: 18vw; 
        height: 18vw; 
    }

    #H_circle-style::after {
        font-size: 6vw; 
    }
}
  input[type="checkbox"]:checked + label::before {
    transform: scale(1) rotateZ(0deg);
  }
  
.H_category-label {
  font-family: Inter, sans-serif;
    text-align: center;
    font-size: 25px;
    margin-top: 2em;
    bottom: 0; 
    color: #075685;
}
@media (max-width: 600px) {
  .H_category-label {
   font-size: 15px;
}
}

.H_bar-graph {
    position: relative;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    height: 400px; 
    display: flex;
    align-items: flex-end;
    border: 1px solid  #075685;
    justify-content: flex-start; 
}
.H_goal-label {
  position: absolute;
  
  right: 10px; 
  top: 0;
  font-family: Inter, sans-serif;
  color: #FF5733; 
  font-weight: bold;
  font-size: 25px;
}
@media (max-width: 600px) {
  .H_goal-label {
   font-size: 15px;
}
}

.H_goal-line {
    position: absolute;
    width: 90%; 
    background-color: transparent; 
    height: 4px; 
    top: 2%; 
    border-top: 2px dotted #FF5733; 
}

.H_bar {
    width: 60px; 
    background-color:rgb(0, 37, 97); 
    border-radius: 5px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 50px; 
    padding-right: 2.8em;
}

.H_bar-value {
  font-size: 2vmin; 
  font-family: Inter, sans-serif;
  margin-top: 5px;
  padding-left: .9em;
}


@media (max-width: 600px) {
  .H_bar {
      width: 9%; 
      margin-right: 7%; 
      padding-right: 8px; 
  }

  .H_bar-value {
      font-size: 12px; 
      padding-right: .3em;
  }
}



.H_bar-labels {
  color: #075685;
  font-family: Inter, sans-serif;
    display: flex;
    justify-content: flex-start;
    margin-top: 10px; 
}
.H_bar-label1, .H_bar-label2 {
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.H_bar-label1 {
  padding-left: 35px;
  padding-right: 67px;
    font-size: 24px;
    font-weight: bold;
    font-family: Inter, sans-serif;

    color: #075685;
    text-align: center;
    
}

.H_bar-label2 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 33px; 
    padding-right: 80px; 
    font-family: Inter, sans-serif;
   
    color: #075685;
    text-align: center;
    flex-wrap: nowrap;
  
}

@media (max-width: 768px) {
  .H_bar-label1{
    padding-left: 10px; 
    padding-right: 12px; 
    font-size: 13px; 
  }
 .H_bar-label2 {
    padding-left: 8px; 
    padding-right: 15px; 
    font-size: 13px;
  }
}

.H_stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#H_date {
  font-family: Inter, sans-serif;
    color: #075685;
    font-size: 28px;
    text-align: right; 
}
@media (max-width: 600px) {
  #H_date {
   font-size: 15px;
}
}


.H_title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;   
}


input[type="checkbox"]:focus {
    outline: none;
}
#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  border-top: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  z-index: 1000;
  border-radius: 2px; 
}

#keyboard button {
  padding: 1px 1px;
  width: 34px; 
  height: 30px;
}
.keyboard-row {
  display: flex;
  justify-content: center;
}

.keyboard-row button {
  margin: 2px;
  padding: 5px 10px;
  background-color: #f0f0f0; 
  border: 1px solid #d0d0d0;
  border-radius: 4px; 
  font-size: 16px; 
  color: #333; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.keyboard-row button:active {
  background-color: #e0e0e0; 
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2); 
}

.keyboard-row button:hover {
  background-color: #e8e8e8; 
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); 
}

.space {
  flex-grow: .3;
}