.meal_header {
    color: #FFFFFF;
    padding: 20px;
    height: 20px;
    line-height: 3;
    margin-bottom: 35px;
    display: flex;
}

.meal_header h1 {
    display: inline;
    margin: 0 auto;
}

#meal_arrow {
    font-size: 30px;
    color: #FFFFFF;
    margin-left: 0;
}

.meal_container {
    display: flex; 
    justify-content: flex-end; 
}

.meal_search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 100%;
}

#meal_searchbar {
    background-color: #FFFFFF;
    height: 35px;
    width: 295px;
    border-radius: 10px;
    border: transparent;
    margin-left: 8px;
    margin-right: 8px;
}

#clear_search {
    border-radius: 10px;
    background-color: transparent;
    border-color: transparent;
}

::placeholder { /* placeholder from search bar */
    color: #075685;
    opacity: 0.5;
}

.meal_add_food_div {
    width: 385px;
    display: flex; 
    justify-content: flex-end;
    
}

.meal_add_food_button {
    height: 24px;
    width: 96px;
    background-color: #FFFFFF;
    border-radius: 50px;
    border-color: #000000;
    color: #075685;
    font-family: Inter, sans-serif;
    font-size: 12px;
    margin-top: 13px;
    margin-bottom: 17px;
}

.meal_history_title {
    font-size: 24px;
    text-align: left;
    margin-left: 10px;
    color: #075685;
}

.meal_food_history {
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 373px;
    height: 450px;
    overflow-y: scroll;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
     margin-bottom: 50px;
}

.meal_food_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    /* justify-content: space-between;
    padding: 10px;
    color: #075685; */
}

.food-name {
    flex-grow: 1;
    max-width: 150px;
    word-wrap: break-word;
}
.meal_calories {
    margin-left: 5px;
}

.meal_plus-sign {
    font-size: 23px;
    margin-left: 10px;
    background-color: #fff;
    border-radius: 100%;
    padding: 1px 8px;
    color: #000;
    text-align: center;
}
