.mp_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.mp_section {
    margin-top: 20px;
    text-align: center;
}

.mp_section-title {
    font-size: 24px;
    margin-top: -8px;
    text-align: center;
}

.mp_header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 49px;
    margin-bottom: -36px;
}

.header-text-container h1 {
    display: inline;
    margin: 0;
    color: #ffffff;
}

.mp_arrow {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    margin: 20px;
}

.mp_weight-section {
    font-size: 26px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    color: #075685;
    text-align: center;
    width: 80%;
    margin: 30px 0 20px;
    position: relative;
}

.mp_edit-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #075685;
    font-size: 20px;
}

.mp_profile-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #000000;
    font-size: 40px;
}

.mp_calories-section {
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 4%;
    padding: 20px;
    color: #075685;
    text-align: left;
    width: 80%;
    margin: 10px 20px;
    position: relative;
}


.mp_checkmark {
    font-size: 20px;
    background-color: #3687b8;
    border-radius: 100%;
    padding: 1px 8px;
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.mp_meal-item {
    font-size: 17px;
    margin-left: 10px;
    display: inline;
}

.mp_total-calories {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 47px;
    margin-bottom: 10px;
}

.mp_plus-sign {
    font-size: 23px;
    background-color: #3687b8;
    border-radius: 100%;
    padding: 1px 8px;
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.mp_edit-breakfast-icon {
    color: #075685;
    font-size: 20px;
    right: 10px;
    position: absolute;
}

.mp_edit-lunch-icon {
    color: #075685;
    font-size: 20px;
    right: 10px;
    position: absolute;
}

.mp_mood-section {
    font-size: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    color: #075685;
    text-align: center;
    width: 80%;
    margin: 30px 0 30px;
    position: relative;
}

.mp_mood-icons {
    display: flex;
    justify-content: center;
    margin-bottom: -10px;
}

.mp_mood-icon-happy img {
    width: 56px;
    margin-right: 20px;
    position: relative;
}

.mp_mood-icon-sad img {
    width: 56px;
    margin-right: 20px;
    position: relative;
}

.mp_mood-text {
    font-size: 16px; /* Adjust the size as needed */
    text-align: center; /* Center the text */
    color: #3687b8;
    margin-right: 20px;
}

.mp_plus-sign-mood {
    color: #ffffff;
    width: 56px;
    margin-right: 20px;
    margin-top: 15px;
    position: relative;
    font-size: 33px;
}

.mp_new-mood-icon {
    width: 56px;
    margin-right: 40px;
}

.mp_modal {
    width: 20px;
    margin-right: 10px;
}

.mp_plus-sign-icon {
    background-color: #3687b8;
    border-radius: 50%;
    padding: 5px;
    width: 30px; 
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: -6px;
}


.mp_exercise-section {
    font-size: 20px;
    background-color: #ffffff;
    border-radius: 4%;
    padding: 20px;
    color: #075685;
    text-align: left;
    width: 80%;
    margin: 10px 0 20px;
    position: relative;
    margin-bottom: 70px;
}

.mp_exercise-item {
    font-size: 20px;
    margin-left: 5px;
    display: inline;
}

.mp_exercise-input {
    font-size: 20px;
    margin-left: 10px;
    display: inline;
}

.mp_total-exercises {
    font-size: 15px;
    margin-top: 5px;
    margin-left: 47px;
    margin-bottom: 10px;
}

.mp_plus-sign-exercise {
    font-size: 23px;
    background-color: #07334b;
    border-radius: 100%;
    padding: 0px 8px;
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
    text-align: center;
}

.mp_edit-exercise-icon {
    color: #075685;
    right: 10px;
    position: absolute;
    font-size: 20px;
}

.mp_edit-exercise-icon-1 {
    color: #075685;
    right: 10px;
    position: absolute;
    font-size: 20px;
}

.mp_edit-exercise-icon-2 {
    position: absolute;
    top: 117px;
    right: 10px;
    color: #075685;
    font-size: 20px;
}

.mp_exercise-add-more {
    font-size: 20px;
    background-color: #07334b;
    border-radius: 100%;
    padding: 1px 8px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
}